/* .Navbar {
    display: inline-block;
} */

.NavberToolvar {
    margin: auto;
    height: 56px;
    width: 90%;
}

.DesktopOnly {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 20px;
  box-sizing: border-box;
}

/* .DesktopOnly {
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 20px;
  box-sizing: border-box;
} */

.MobileOnly {
  width: 100%;
  display: flex;
  align-items: center;
  padding:0 20px;
  box-sizing: border-box;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}


@media (min-width: 500px) {
  .MobileOnly {
    display: none;
  }
}